@model List<PersonContact>

<div id="mainContainer">
    <div class="top-panel">
        @if (ViewData["Type"] == "Schedule") // Замените "Index" на действие, соответствующее вашей странице
        {
            <a class="nav-link active" href="/Schedule/Index" style="margin-left: 90px; display: inline-block;">
                <img src="~/img/back_but.png" alt="назад" style="width: auto; height: auto;">
            </a>
        }
        else if (ViewData["Type"] == "Contacts")
        {
            <a class="nav-link active" href="/Contacts/Index" style="margin-left: 90px; display: inline-block;">
                <img src="~/img/back_but.png" alt="назад" style="width: auto; height: auto;">
            </a>
        }
        <h1 style="margin: 0 auto;">Выберите:</h1>
    </div>

    <div class="scheduleContainer">
        <ul class="custom-list">
            @if (ViewData.ContainsKey("ErrorMessage"))
            {
                <h2>@ViewData["ErrorMessage"]</h2>
            }
            else if (Model.Count() == 0)
            {
                <h4>Никого не найдено. Попробуйте изменить запрос.</h4>
            }
            @foreach (var item in Model)
            {
                @if (ViewData["Type"] == "Contacts") // Замените "Index" на действие, соответствующее вашей странице
                {
                    <li class="clickable" onclick="openModalInfo('@item.NameContact','@item.UniversityIdContact')">
                        <strong>@item.NameContact</strong>: @Html.Raw(string.Join(", ", @item.Position.Take(3)));
                    </li>
                }
                else if (ViewData["Type"] == "Schedule")
                {
                    <li class="clickable" onclick="openPersonSchedule('@item.NameContact','@item.UniversityIdContact')">
                        <strong>@item.NameContact</strong>: @Html.Raw(string.Join(", ", @item.Position.Take(3)));
                    </li>
                }
            }
        </ul>
    </div>
</div>