@model (List<Document> Documents, List<VkPost> VkPostData)
@using System.Text.RegularExpressions
@using System.Text.Json
@using System.Text

<title>@ViewData["Title"]</title>
<link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />

<div class="left-content">
    <div class="inner-content">
        @foreach (var doc in Model.Documents)
        {
            <div class="doc-preview" onclick="openModalPDF('@doc.DocumentPath.Replace("\\", "\\\\" )', '@doc.DocumentName')">
                <h2>@doc.DocumentName</h2>
            </div>
        }
    </div>
</div>

<div class="right-content">
    <div class="masonry-grid" style="gap: 30px !important;">
        @if (Model.VkPostData != null)
        {
            @foreach (var post in Model.VkPostData)
            {
                <div class="masonry-grid-item" onclick="openModal(@post.Id)">
                    <div class="card">
                        @if (post.VideoUrl != null && post.VideoUrl.Any())
                        {
                            <div class="video-container">
                                <video class="card-img-top"
                                       src="@post.VideoUrl[0]"
                                       autoplay muted loop
                                       playsinline
                                       style="width: 100%; height: auto; pointer-events: none;">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                        }
                        else if (post.ImageUrl != null && post.ImageUrl.Count > 1)
                        {
                            var imageUrlsJson = JsonSerializer.Serialize(post.ImageUrl);
                            var imageUrlsBase64 = Convert.ToBase64String(Encoding.UTF8.GetBytes(imageUrlsJson));

                            <div class="image-carousel" data-images-base64="@imageUrlsBase64" data-height="@post.ImageHeight[0]">
                                <img class="card-img-top" src="@post.ImageUrl[0]" alt="" style="width: 646px; height: @post.ImageHeight[0]px;" />
                            </div>
                        }
                        else if (post.ImageUrl != null && post.ImageUrl.Count == 1)
                        {
                            <img class="card-img-top" src="@post.ImageUrl[0]" alt="" style="width: 646px; height: @post.ImageHeight[0]px;" />
                        }

                        <div class="card-body">
                            <p class="card-text">
                                @Html.Raw(@GetFirstThreeWords(post.Text)
                                         .Replace("____________________________________ ", "")
                                         .Replace("——————————————————", "")
                                         .Replace("—— ", ""))
                            </p>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

<!-- Модальное окно для предпросмотра документа -->
<div class="modal fade" id="docPreviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <!-- Содержимое модального окна -->
</div>

@functions {
    // Функция для получения первых семи слов
    string GetFirstThreeWords(string text)
    {
        return string.Join(" ", text.Split(' ').Take(7)) + "...";
    }
}
<script src="~/js/HomeScript.js" asp-append-version="true"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
