@{
    ViewData["Title"] = "Contact Page";
}
@model List<MainUniversityContact>

<title>@ViewData["Title"]</title>

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Contact.css" asp-append-version="true" />

<script src="~/js/ContactScript.js"></script>

<!-- Контейнер для отображения данных о расписании -->
<div id="mainContainer">
    <h1>Структуры университета</h1>
    <div class="contactContainer">
        @foreach (var contact in Model)
        {
            <div class="contact" onclick="toggleDetails(this)">
                <h2>@contact.NameContact</h2>
                <h4>@contact.AdditionalName</h4>
                <div class="contact-details" style="display: none;">
                    @if (!string.IsNullOrEmpty(contact.Telephone))
                    {
                        <p><img src="/img/phone_img.png">@contact.Telephone</p>
                    }
                    @if (!string.IsNullOrEmpty(contact.WorkTime))
                    {
                        <p><img src="/img/clock.png">@contact.WorkTime</p>
                    }
                    @if (!string.IsNullOrEmpty(contact.Address))
                    {
                        <p><img src="/img/address_img.png">@contact.Address</p>
                    }
                    @if (!string.IsNullOrEmpty(contact.Information))
                    {
                        <p>
                            @Html.Raw(contact.Information.Replace("\\n", "<br>"))
                        </p>
                    }
                </div>
            </div>
        }
    </div>
    <form>
        <div class="input-group">
            <input type="text" class="form-control" id="searchInput1" placeholder="введите ФИО преподавателя">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary search-button" type="button" onclick="clarifyPersonForContact(document.getElementById('searchInput1').value)">
                    <img src="../img/search_button.png" alt="Search">
                </button>
            </div>
        </div>
    </form>
</div>

<script>
    function toggleDetails(contact) {
        var details = contact.querySelector('.contact-details');
        if (details.style.display === 'none') {
            // Скрываем все открытые детали
            document.querySelectorAll('.contact-details').forEach(function (detail) {
                detail.style.display = 'none';
                detail.parentElement.style.position = 'relative'; // Возвращаем нормальное состояние
            });
            // Показываем выбранные детали
            details.style.display = 'block';
            contact.style.position = 'static'; // Убираем влияние на соседние блоки
        } else {
            details.style.display = 'none';
            contact.style.position = 'relative'; // Возвращаем нормальное состояние
        }
    }
</script>